# Core dependencies
torch
torchvision
torchaudio
numpy<2.0.0
opencv-python

# Audio processing
kaldi-native-fbank
soundfile
sherpa-onnx

# Image processing and computer vision
mediapipe
scipy

# Machine learning
scikit-learn
tqdm

# 3D rendering and graphics
pyglm
glfw
PyOpenGL

# Web framework
gradio>=5.0.0
fastapi
uvicorn
requests

# API service
openai

# Other tools
pandas
pillow